body{
    font-family: Arial, Helvetica, sans-serif;

    --body_width: 100%;
    --body_height: 100%;
    --btn_div_width: 200px;
    --header_height: 100px;

    --header_div_width: calc(var(--body_width) - var(--btn_div_width));
    --body_div_height: calc(var(--body_height) - var(--header_height));
}

.header_div{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header_height);
    background-color: orange;
    border: solid black 3px;
}

.body_div{
    position: fixed;
    top: var(--header_height);
    left: 0;
    width: var(--body_width);
    height: var(--body_div_height);
    background-color: rgb(255, 255, 255);
    border: solid black 3px;
    overflow: auto;
}

.product_view{
    position: relative;
    top: 20%;
    left: 20%;
    width: 60%;
    border: solid black 3px;
    border-radius: 25px;
}

.shop_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 75px;
    overflow: auto;
}

.shop_item *{
    text-align: center;
    border: solid rgba(0, 0, 0, 0) 3px;
}

.remove_btn{
    position: relative;
    left: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 25px;
    background-color: rgba(200, 200, 200, 0.5);
    border: solid black 2px;
    border-radius: 25px;
}

.remove_btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(43, 5, 255);
}

.change_btn{
    background-color: rgba(200, 200, 200, 0.5);
    border: solid black 2px;
    border-radius: 10px;
}

.change_btn:hover{
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.add_btn_div{
    position: absolute;
    top: 10%;
    left: 89%;
}

.add_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: solid black 3px;
    border-radius: 50px;
    font-size: 50px;
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.add_btn:hover{
    color: white;
    background-color: rgb(43, 5, 255);
}

.add_div, .change_div{
    position: fixed;
    text-align: center;
    z-index: 3;
    top: 20%;
    left: 35%;
    width: 450px;
    height: 530px;
    background-color: rgb(255, 255, 255);
    border: solid black 3px;
    border-radius: 25px;
}

.add_div input, .change_div input{
    width: 40%;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 5px;
}

.add_header_div, .change_header_div{
    position: relative;
    margin: -3px;
    color: white;
    background-color: rgb(43, 5, 255);
    border: solid rgb(0, 0, 0) 3px;
    border-radius: 25px 25px 0 0;
}

.form{
    position: relative;
    top: 15px;
}

.submit_btn{
    position: relative;
    top: 5px;
}

.submit_btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(43, 5, 255);
}

.close_btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    left: 85%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: white;
    border: solid black 3px;
    border-radius: 30px;
}

.close_btn:hover{
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}

.picture:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(43, 5, 255);
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.menu_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.inner_menu_div{
    position: relative;
    top: var(--header_height);
    color: white;
}

.inner_menu_div div{
    padding: 10px 0 10px 10%;
}

.inner_menu_div div:hover{
    background-color: gray;
}

.inner_menu_div a{
    color: white;
    text-decoration: none;
}

.menu_btn{
    position: absolute;
    top: 30px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
}

.menu_btn div{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}