body{
    font-family: Arial, Helvetica, sans-serif;

    --body_width: 100%;
    --body_height: 100%;
    --header_height: 100px;

    --body_div_height: calc(var(--body_height) - var(--header_height));
}

.header_div{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header_height);
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
}

.body_div{
    position: fixed;
    top: var(--header_height);
    left: 0;
    width: var(--body_width);
    height: var(--body_div_height);
    color: white;
    background-color: rgb(45, 45, 45);
    overflow: auto;
}

.product_view{
    position: relative;
    top: 20%;
    left: 20%;
    width: 60%;
    border: solid rgb(150, 150, 150) 3px;
    border-radius: 25px;
}

.menu_btn{
    position: absolute;
    top: 30px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
}

.menu_btn div{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.inner_menu_div{
    position: relative;
    top: var(--header_height);
    color: white;
}

.inner_menu_div div{
    padding: 10px 0 10px 10%;
}

.inner_menu_div div:hover{
    background-color: gray;
}

.inner_menu_div a{
    color: white;
    text-decoration: none;
}

.shop_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 75px;
    overflow: auto;
}

.shop_item *{
    text-align: center;
    font-size: 16px;
    border: solid rgba(0, 0, 0, 0) 3px;
}

.line{
    background-color: rgb(100, 100, 100);
    border: solid rgb(100, 100, 100) 1px;
}

.remove_btn{
    position: relative;
    left: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 25px;
    background-color: rgba(200, 200, 200, 0.5);
    border: solid black 2px;
    border-radius: 25px;
}

.remove_btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(43, 5, 255);
}

.bottom_div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 75px;
}

.bottom_div p{
    text-align: center;
    font-size: 20px;
}

.check_out{
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(200, 200, 200);
    border: solid rgb(43, 5, 255) 3px;
    border-radius: 25px;
    cursor: pointer;
}

.check_out:hover{
    color: white;
    background-color: rgb(43, 5, 255);
    border: solid rgb(43, 5, 255) 3px;
}